PORT=4000
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CLOVA_OCR_SECRET_KEY=
TOUR_API_KEY=
GOOD_PRICE_API_KEY=
GEMINI_API_KEY=
AI_CHAT_PROVIDER=
NAVER_SEARCH_CLIENT_ID=
NAVER_SEARCH_CLIENT_SECRET=
